body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}



#customerTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#customerTable th, #customerTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#customerTable th {
  background-color: #f2f2f2;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
}

.editButton, .deleteButton {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}


.editButton:hover, .deleteButton:hover {
  background-color: #ddd;
}
